{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": "error",
        "no-loop-func": "error",
        "default-case": "error",
        "keyword-spacing": "error",
        "no-empty-function": "error",
        "no-invalid-this": "warn",
        "require-await": "warn",
        "no-invalid-regexp": "error",
        "no-unreachable":"error",
        "no-unreachable-loop": "error",
        "default-case-last": "warn",
        "default-param-last": "warn",
        "indent": ["error", 4]
    }
}